@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --border-button: rgb(189, 189, 189);
  --text-color: rgb(97, 97, 97);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #666;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: inherit;
}

h2 {
  text-align: center;
}

img {
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

footer {
  margin-top: 30px;
  background-color: white;
}

option {
  padding: 20px 20px;
}

.fa-chevron-down{
  font-size: 10px;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.arrow-active{
  transform:rotate(-180deg);
}

.wrapper {
  margin: 0 auto;
  width: 95%;
}

header {
  z-index: 10;
  background-color: white;
  width: 100%;
  position: fixed;
}

.nav {
  position: fixed;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.logo {
  list-style: none;
  margin-right: auto;
  cursor: pointer;
  width: 150px;
}

.container {
  z-index: 1;
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menulogo {
  transition: all 0.5s ease-in-out;
  height: 2px;
  width: 20px;
  background-color: rgb(54, 54, 54);
}

.nav__listitem {
  list-style: none;
  position: relative;
  cursor: pointer;
  font-size: 15px;
}

.active__listitemdrop{
  display: block;
}

.navbar__button{
  border: 1px solid #1ea3aa;
  color: #1ea3aa;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* Secção de pesquisa  */
.search__section {
  background-color: #c33a32;
  height: auto;
  padding-top: 62px; /* altura da navigation bar*/
}

.search-section-title {
  display: none;
}

.search-content {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 97%;
}

.btn-group button {
  border: none;
  padding: 13px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width: 130px;
  margin-right: 0;
}

.content {
  background-color: white;
  padding: 20px 10px;
  margin-top: 41px;
}

#active {
  background-color: white;
  color: #1ea3aa;
}

#active:hover {
  color: #a8a8a8;
}

#deactive {
  background-color: #e0e0e0;
}

.top-buttons {
  width: 100%;
}

.top-buttons select {
  white-space: nowrap;
  border: 1px solid var(--border-button);
  background-color: white;
  padding: 10px 10px;
  width: 49%;
  font-size: 13px;
  color: var(--text-color);
  cursor: pointer;
}

.top-buttons select:hover {
  background-color: #f5f5f5;
}

.top-buttons select:nth-child(2) {
  float: right;
}

.search-location {
  width: 100%;
  border: 1px solid var(--border-button);
  padding: 10px 20px;
  text-align: center;
  margin-top: 10px;
  outline: none;
  text-align: left;
}

.search-location:hover {
  border: 1px solid black;
}

.more-opt {
  background-color: white;
  border: 1px solid var(--border-button);
  border-radius: 25px;
  padding: 7px 20px;
  margin-top: 13px;
  color: var(--text-color);
}

.more-opt:hover {
  background-color: #f5f5f5;
}

/* Secção mais opções, ativa quando o botão acima é clicado */

.more-opt-modal {
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: white;
  padding: 20px 15px;
}

.modal-active {
  display: block;
}

.modal-top {
  display: flex;
  justify-content: space-between;
}

.modal-top button {
  background: none;
  border: none;
  cursor: pointer;
}

.modal-content-section {
  margin-bottom: 80px;
}

.modal-content {
  margin-top: 20px;
}

.modal-input {
  display: flex;
  justify-content: space-between;
}

.modal-input input {
  width: 130px;
}

.modal-input input::placeholder {
  text-align: right;
}

.modal-content select {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  border-radius: 0;
  border: 1px solid var(--border-button);
  cursor: pointer;
  background-color: white;
}

.modal-content select:hover {
  background-color: #f5f5f5;
}

.checkbox-area {
  margin-top: 15px;
}

.modal-footer {
  height: 80px;
  background-color: white;
  width: 100%;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}

.modal-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0 20px;
}

.modal-footer-content button:nth-child(1) {
  font-size: 15px;
}

.modal-footer-content button:nth-child(2) {
  background-color: #1ea3aa;
  padding: 20px 20px;
  color: white;
  font-size: 15px;
}

.modal-footer-content button:nth-child(2):hover {
  background-color: #25c5ce;
}

.search {
  margin-top: 13px;
  display: block;
  width: 100%;
  padding: 10px 0px;
  background-color: #1ea3aa;
  color: white;
}

.search:hover {
  background-color: #25c5ce;
}

.fa-search {
  margin-right: 10px;
}

/* Secção do anúncio destacado */

.highlight__section {
  height: 360px;
  margin-top: 40px;
  display: block;
  align-items: center;
  text-align: center;
}

.ad__title {
  margin-bottom: 20px;
}

.single-highlight {
  cursor: pointer;
}

.img__content {
  position: relative;
}

.gradient-overlay {
  position: relative;
}

.gradient-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 225px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0),
    rgba(0, 0, 0, 0.65)
  );
  opacity: 0.75;
}

.ad__photo {
  width: 100%;
  height: 225px;
  cursor: pointer;
  background-size: cover;
}

.image__text {
  color: white;
  position: absolute;
  bottom: 2%;
  padding: 5px;
  text-align: left;
}

.ad__button {
  width: 48%;
  height: 40px;
  background-color: #c33a32;
  color: white;
  font-size: 15px;
}

.ad__button:hover {
  background-color: #d35c55;
  border: 1px solid #c33a32;
}

.highlight-grid-section {
  display: none;
}

.highlight-grid {
  display: none;
}

/* Financiamento */

.open-financiamento-modal-button{
  display: none;
}

.financiamento-modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index:9;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.521);
  justify-content: center;
  align-items: center;
}

.financiamento-content{
  padding:30px;
  background-color: white;
  width:70%;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

.close-financiamento-div{
  float: right;
}

.on{
  display: flex;
}

.on ul{
  margin-right: 30px;
}

#financiamento-container{
  display: none;  
  border: 2px solid black;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  border-radius: 2px;
}

.financiamento-buttons{
  width: 200px;
}

.open-financiamento-modal{
  display: flex;
}

/* Secção principal ''Serviços'' */

.services {
  margin: 15px auto;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.services__title {
  text-align: center;
}

.item {
  margin: 25px auto;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #bbbbbb;
}

.item__name {
  color: #8f8f8f;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.footer-content .fas {
  font-size: 50px;
  color: #989898;
}

.footer-content{
  font-size: 13px;
}

/* Secção secundária ''conteúdo dentro dos circulos'' */

.menu-links {
  display: none;
}

.services .fas {
  font-size: 40px;
}

.circle:hover {
  background-color: #c33a32;
}

.circle:hover > .fas {
  display: none;
}

.circle:hover > .menu-links {
  padding: 10px 0;
  display: block;
  color: #fff;
  text-align: center;
}

.links {
  padding-top: 10px;
}

.links:hover {
  text-decoration: underline 1px white;
}

/* Secção principal ''Blog'' */

.blog__title {
  margin: 20px 0;
}
.blog__container {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.blog__item {
  width: 100%;
  position: relative;
}

.blog__item .gradient-overlay::after {
  height: 210px;
}

.blog__image {
  width: 100%;
  height: 210px;
}

.blog_image_text {
  position: absolute;
  bottom: 0;
  color: white;
  margin: 10px 10px;
}

.blog_image_text p {
  font-size: 15px;
}

.blog_image_text h3 {
  font-size: 17px;
}

.blog-down-btn {
  margin-top: 10px;
  background-color: #2e343f;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.blog-top-btn {
  background-color: #21a4b8;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* show more button */
.blog-sm-btn {
  width: 50%;
  padding: 10px 10px;
  border: none;
  background-color: #c33a32;
  color: white;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.blog-sm-btn:hover {
  background-color: #d35c55;
}

.blog__section .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media all and (max-width: 600px) {
  .blog__container .item-2 {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .blog__container .item-3 {
    display: none;
  }
}

/* Link section */

.link-section {
  display: none;
  padding: 20px;
  font-size: 12px;
  width: auto;
  height: auto;
  background-color: white;
  justify-content: center;
  margin-bottom: 0;
}

.verticalbar{
  border: 0.1px solid rgb(102, 102, 102);
  height: 150px;
}

.link-subpart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-subpart div{
  margin: 0px 20px;
}

.link-subpart div ul li{
  margin: 5px 0px;
}

.link-subpart div ul li a:hover{
  text-decoration: underline 1px solid black;
}

/* Secção principal ''Footer'' */

.footer-content {
  padding: 20px 10px;
}

.footer-content div {
  padding: 15px 0px;
}

.footer-content p {
  font-weight: bold;
}

.footer-content ul li {
  padding-top: 10px;
}

.footer-content ul li a:hover {
  cursor: pointer;
  text-decoration: underline 1px solid#666;
}

.footer-button {
  display: flex;
  justify-content: center;
}

.googleplay img {
  margin-right: 10px;
  width: 120px;
}

.footer-termos {
  text-align: center;
  color: #bbb;
  padding-bottom: 20px;
}

.fab {
  margin-right: 10px;
  padding-top: 20px;
  font-size: 35px;
}

.fa-facebook-square {
  color: #4267b2;
}
.fa-youtube {
  color: #ff0000;
}
.fa-instagram-square {
  color: #c13584;
}

.footer-termos span a {
  color: rgb(73, 73, 73);
  text-decoration: underline 1px solid rgb(73, 73, 73);
}

/* Media queries */
/* 768px */

@media all and (min-width: 768px) {
  .search-section-title {
    display: block;
    color: white;
    text-align: center;
    margin-top: 40px;
  }

  .search-content {
    width: 90%;
    margin: 20px auto;
  }

  .top-buttons-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-location {
    margin: 0;
    margin-left: 7px;
  }

  .single-highlight {
    display: none;
  }

  .highlight-grid-section {
    display: block;
  }

  .highlight-grid {
    display: grid;
    gap: 0px 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .highlight-item {
    cursor: pointer;
  }

  .highlight-item:nth-child(5),
  .highlight-item:nth-child(6) {
    display: none;
  }

  .highlight-grid-btn {
    margin: 10px auto;
    width: 10%;
  }

  .services {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .services__section {
    margin-top: 240px;
  }

  .blog-sm-btn {
    width: 100px;
    font-size: 13px;
  }
}

/* 992px */

@media all and (min-width: 992px) {
  .search__section {
    background-image: url(img/background-form.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }

  .search_section_holder{
    margin: 75px auto;
  }

  .form {
    width: 1000px;
  }

  .highlight__section {
    max-width: 1200px;
    margin: 40px auto;
  }

  .highlight-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .highlight-item:nth-child(5),
  .highlight-item:nth-child(6) {
    display: block;
  }

  .open-financiamento-modal-button{
    display: inline;
    font-size: 80%;
  }

  .services__section {
    max-width: 1200px;
    margin: 240px auto 0 auto;
  }

  .services {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .blog__item {
    height: 100%;
  }

  .blog__image {
    height: inherit;
  }

  .blog__item .gradient-overlay::after {
    height: calc(100% - 3px);
  }

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
  }
}

/* Media queries navbar */
@media all and (min-width: 1215px) {
  .container {
    display: none;
  }

  .nav{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 10px 13px -7px #00000036;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
    width: 100vw;
  }

  .nav__listitemdrop {
    position: absolute;
    top: 48px;
    left: -1rem;
    background-color: white;
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    display: none;
    transition: opacity 200ms ease-in-out;
    box-shadow: 0px 17px 21px -6px rgba(0,0,0,0.47);
  }

  .nav__listitemdrop li:not(:first-child){
    margin-top: 10px;
  }

  .nav__listitemdrop li a:hover{
    color: #1ea3aa;
  }

  .active__listitemdrop{
    display: block;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  
  .link-section {
    display: flex;
  }
}

@media all and (max-width: 1215px) {
  .nav__list {
    width: 100%;
    display: block;
    position: absolute;
    top: 0%;
    right: -1216px;
    height: 100vh;
    background-color: white;
    padding: 10px 10px;
    transition: all 0.5s ease-in-out;
  }

  .nav__listitem{
    margin: 20px;
    font-size: 17px;
    color: rgb(99, 99, 99);
  }

  .navbar__button{
    color: #1ea3aa;
  }

  .nav__listitemdrop {
    display: none;
    margin-left: 20px;
    margin: 10px;
  }

  .nav__listitemdrop li{
    margin: 10px 0;
  }

  .nav__login{
    padding: 15px 0px;
  }

  .nav__login::before{
    content: '';
    border-top: 1px solid black;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .nav__login::after{
    content: '';
    border-top: 1px solid black;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  .showmenu {
    right: 0;
  }

  .open-submenu {
    display: block;
  }

  .active div:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
  }
  
  .active div:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px);
  }
  
  .active div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }  
}

@media all and (min-width: 650px) and (max-width:1215px){
  .nav__list{
    width: 50%;
  }
}
